*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:'Poppins',sans-serif;
background:#f7f7f7;
color:#333;

}



.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),
url(
"https://images.unsplash.com/photo-1524492412937-b28074a5d7da"
);


background-size:cover;
background-position:center;


display:flex;
flex-direction:column;

justify-content:center;
align-items:center;


text-align:center;

color:white;

}



.hero h1{

font-size:55px;

}



.hero p{

font-size:22px;
margin:20px;

}



.hero a{

background:white;
color:black;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}



.intro{

padding:80px;

text-align:center;

background:white;

}



.intro h2{

font-size:38px;

margin-bottom:20px;

}




.heading{

text-align:center;

font-size:40px;

padding:60px 0;

}



.destination-grid{


width:90%;

margin:auto;

display:grid;

grid-template-columns:
repeat(2,1fr);


gap:40px;


padding-bottom:80px;

}



.card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:
0 10px 25px rgba(0,0,0,.15);

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.card img{

width:100%;

height:300px;

object-fit:cover;

}




.content{


padding:40px;

}



.content h2{

font-size:35px;

}



.content h4{

color:#777;

margin:10px 0;

}



.content span{


background:#2ecc71;

color:white;

padding:8px 15px;

border-radius:20px;

}



.content p{

line-height:1.8;

margin:20px 0;

}



.content li{

margin:10px;

}



.footer-section{


height:300px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


background:#111;

color:white;

}



footer{

padding:20px;

text-align:center;

background:black;

color:white;

}



@media(max-width:900px){


.destination-grid{

grid-template-columns:1fr;

}


.hero h1{

font-size:35px;

}


}


.card img{

height:250px;

}


.content{

padding:20px;

}

}
