<section id="destinations">


<h2 class="heading">
Popular Indian Destinations
</h2>


<div class="destination-grid">


{% for place in destinations %}


<div class="card">


<img src="{{place.image}}">


<div class="content">


<h2>
{{place.name}}
</h2>


<h4>
{{place.location}}
</h4>


<span>
{{place.category}}
</span>


<p>
{{place.description}}
</p>


<h3>
Top Attractions
</h3>


<ul>

{% for item in place.places %}

<li>
{{item}}
</li>

{% endfor %}

</ul>


<h3>
Best Time To Visit
</h3>


<p>
{{place.best_time}}
</p>


</div>


</div>


{% endfor %}


</div>


</section>
